.background {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(225.1deg, #feb139, #d61c4e);
  width: 2124px;
  height: 1080px;
  opacity: 0.86;
}
.signup-child,
.signup-item {
  position: absolute;
  top: 118px;
  background-color: var(--color-white);
}
.signup-child {
  left: 380px;
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 1365px;
  height: 844px;
}
.signup-item {
  left: 1219px;
  border-radius: 0 var(--br-lg) var(--br-lg) 0;
  backdrop-filter: blur(11px) brightness(129.79%);
  width: 530px;
  height: 845px;
}
.forgot-your-password,
.forgot-your-password1 {
  position: absolute;
  bottom: 151px;
  left: 1261px;
  font-size: var(--font-size-xs);
  font-family: var(--font-larsseit);
  color: var(--color-gray-100);
}
.forgot-your-password1 {
  left: 1528px;
}
.rectangle {
  position: absolute;
  bottom: 188.5px;
  left: 1260.7px;
  background-color: var(--color-lightgray-100);
  width: 449.53px;
  height: 1px;
}
.by-continuing-you {
  margin: 0;
}
.by-continuing-you-container {
  position: absolute;
  top: 777px;
  left: 1349px;
  line-height: 21px;
  font-family: var(--font-montserrat);
  text-align: center;
}
.sign-up {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 29.5px);
  letter-spacing: 0.7px;
  line-height: 15px;
  text-transform: uppercase;
}
.default-button {
  position: absolute;
  top: 716px;
  left: 1289px;
  border-radius: var(--br-5xs);
  background-color: var(--color-crimson-100);
  width: 393px;
  height: 48px;
  text-align: center;
  color: var(--color-white);
}
.checkbox-child {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: 2px;
  background-color: var(--color-white);
  border: 1px solid var(--color-silver-100);
  box-sizing: border-box;
  width: 24px;
}
.sign-up-for {
  position: absolute;
  top: calc(50% - 12px);
  right: -1px;
  line-height: 18px;
  font-weight: 500;
}
.checkbox {
  position: absolute;
  top: 672px;
  left: 1289px;
  width: 193px;
  height: 24px;
}
.signup-inner {
  position: absolute;
  bottom: 428px;
  left: 1288px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-silver-100);
  box-sizing: border-box;
  width: 393px;
  height: 48px;
}
.must-be-at {
  position: absolute;
  top: 618px;
  left: 1304px;
  color: var(--color-silver-100);
}
.password {
  position: absolute;
  top: 580px;
  left: 1288px;
  font-size: var(--font-size-mini);
  font-weight: 500;
}
.icon-feather-eye-off {
  position: absolute;
  height: calc(100% + 0.55px);
  width: calc(100% + 0.54px);
  top: 1.32px;
  right: -1.89px;
  bottom: -1.87px;
  left: 1.34px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.showhide {
  position: absolute;
  top: 621px;
  left: 1583px;
  width: 16.01px;
  height: 16px;
}
.signup-child1 {
  position: absolute;
  bottom: 516px;
  left: 1289px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-silver-100);
  box-sizing: border-box;
  width: 393px;
  height: 48px;
}
.email {
  top: 491px;
  font-size: var(--font-size-mini);
  font-weight: 500;
}
.email,
.full-name,
.signup-child2 {
  position: absolute;
  left: 1289px;
}
.signup-child2 {
  bottom: 604px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-silver-100);
  box-sizing: border-box;
  width: 393px;
  height: 48px;
}
.full-name {
  top: 402px;
  font-size: var(--font-size-mini);
  font-weight: 500;
}
.sign-up1 {
  position: absolute;
  top: 319px;
  left: 1434px;
  font-size: var(--font-size-5xl);
}
.share-your-awesomeness {
  position: absolute;
  top: 186px;
  left: 1355px;
  font-size: var(--font-size-16xl);
  line-height: 59px;
  font-family: var(--font-lucida-fax);
  text-align: center;
}
.z-2108w023n001896bp1896-icon {
  position: absolute;
  top: 119px;
  left: 375px;
  border-radius: var(--br-9xs);
  width: 844px;
  height: 844px;
  object-fit: cover;
}
.icons8-back-arrow-481,
.log-in {
  position: absolute;
  cursor: pointer;
}
.log-in {
  top: 369px;
  left: 1570px;
  font-size: var(--font-size-mid);
  font-family: var(--font-montserrat);
  text-align: center;
}
.icons8-back-arrow-481 {
  top: 78px;
  left: 112px;
  width: 48px;
  height: 48px;
  object-fit: cover;
}
.already-have-an {
  position: absolute;
  top: 370px;
  left: 1304px;
  font-size: var(--font-size-xl);
  font-family: var(--font-sitka-small);
  color: var(--color-darkslateblue-100);
}
.signup {
  position: relative;
  background-color: var(--color-crimson-200);
  width: 100%;
  height: 1080px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-gray-200);
  font-family: var(--font-agrandir-variable);
}
